body {
  background-color: #c0eaf2;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#headerRow {
  background-color: #c0d9f1;
}

#headerSubSubText {
  line-height: 1.5;
}
