body {
  padding: 0px;
  border: 0px;
  margin: 0px;
  background-color: #c0eaf2;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#topBanner {
  width: 100%;
  background-color: #c0d9f1;
  overflow: auto;
}

#titleText {
  text-align: center;
  font-weight: bold;
  overflow: auto;
}

.titleTextBigScreenClass {
  margin: 80px 20px 40px 20px;
  font-size: 5em;
}

.titleTextSmallScreenClass {
  margin: 40px 10px 10px 10px;
  font-size: 5em;
}

#titleSubText {
  text-align: center;
  font-weight: normal;
}

.titleSubTextBigScreenClass {
  margin: 10px 20px 10px 20px;
  font-size: 3em;
}

.titleSubTextSmallScreenClass {
  margin: 5px 5px 5px 5px;
  font-size: 3em;
}

#titleSubSubText {
  text-align: center;
  font-weight: normal;
}

.titleSubSubTextBigScreenClass {
  margin: 10px 20px 10px 20px;
  font-size: 2em;
}

.titleSubSubTextSmallScreenClass {
  margin: 5px 5px 5px 5px;
  font-size: 2em;
}
