body {
  background-color: #c0eaf2;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainContainer {
  overflow: hidden;
}

#mainRow {
  height: 100%;
}

.rounded-5 {
  border-radius: 2rem !important;
}
